* {
	margin: 0;
	padding: 0;
}

.sumustekas {
	height: 400px;
	width: 400px;
	margin: 100px;
}

.bandele-top {
	height: 50px;
	width: 290px;
	border: 10px solid sandybrown;

	border-radius: 50px 50px 10px 10px;
	background-color: sandybrown;
	margin-left: -30px;
	box-shadow: 0 15px 16px -6px brown;
	margin-bottom: 10px;
	animation-duration: 4s;
	animation-name: bandeletop;
}

.suris {
	border-color: yellow;
	height: 15px;
	width: 379px;
	border: 1px solid sandybrown;
	margin-left: -60px;
	background-color: yellow;
	border-radius: 4px;
	animation-duration: 4s;
	animation-name: suris;
}

.kecupas {

	height: 25px;
	width: 255px;
	border: 5px solid red;

	background-color: red;
	border-color: red;
	margin-left: -10px;
	animation-duration: 4s;
	animation-name: kecupas;

}

.svogunas {
	height: 1px;
	width: 240px;
	border-top: 25px dotted violet;

	background-color: darkviolet;
	animation-duration: 3.5s;
	animation-name: svogunas;

}

.mesa {
	height: 60px;
	width: 60px;
	border: 10px solid saddlebrown;
	border-width: 20%;
	background-color: saddlebrown;
	border-radius: 50px 50px 50px 50px;
	float: left;
	animation-duration: 3s;
	animation-name: mesa;
}

.agurkelis {
	clear: both;
	height: 30px;
	width: 300px;
	border: 10px solid forestgreen;
	border-width: 20%;
	border-radius: 0px 0px 50px 50px;
	background-color: forestgreen;
	margin-left: -30px;
	box-shadow: 0 15px 6px -6px green;
	margin-bottom: 5px;
	animation-duration: 2.5s;
	animation-name: agurkas;
}

.mesos-paplotelis {
	height: 20px;
	width: 364px;
	border: 1px solid brown;
	border-width: 20%;
	background-color: saddlebrown;
	border-radius: 50px 50px 50px 50px;
	margin-left: -50px;
	animation-duration: 2s;
	animation-name: paplotelis;

}

.bandele-bottom {
	height: 30px;
	width: 300px;
	border: 10px solid sandybrown;
	border-width: 20%;
	border-radius: 10px 10px 50px 50px;
	background-color: sandybrown;
	margin-left: -30px;
	box-shadow: 0 -15px 30px 6px brown;

	margin-top: 10px;
	animation-duration: 1.5s;
	animation-name: bandelebottom;
}

.lekste {
	height: 5px;
	width: 350px;
	border: 10px solid gray;
	border-width: 20%;
	background-color: gray;
	border-radius: 0px 00px 50px 50px;
	margin-left: -50px;
	animation-duration: 1s;
	animation-name: lekste;

}



@keyframes lekste {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes bandelebottom {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes paplotelis {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes agurkas {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes mesa {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes svogunas {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}



@keyframes suris {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes kecupas {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes bandeletop {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0px);
	}
}
